body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}



/* Borrar flechas para inputs tipo number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Ancho de elementos en responsive */
@media screen and (min-width: 768px) {
  .input-responsive{
    width: 49%;
  }

  .ancho-btn-responsive{
    width: 30%;
  }
}